/* Start Shared common style */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color: #3A3A3A;
    --secondary-color:#18191F;
    --btn-color:#E02C6D;
    --border-color:#F1E4FF;
}
.primary-btn {
    background-color: var(--btn-color);
    padding: 10px 25px;
    color: #fff;
    border: none;
    border-radius: 30px;
}
.primary-btn a{
    text-decoration: none;
    color: #fff;
}
/* End Shared common style */

/* Start Header style */
/* Start Navbar style */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0px;
}
.nav-title >h2{
    color: var(--primary-color);
    font-size: 1.50rem;
    font-weight: 700;
}
.nav-item{
    display: flex;
}
.nav-list {
    list-style: none;
    padding-left: 50px;
}
.nav-list a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.nav-icon{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    padding-left: 50px;
}
/* End Navbar style */
/* Start Banner style */
.banner-container{
    padding: 80px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.banner-title{
    color: var(--primary-color);
    font-size: 3.10rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-sub-title{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 0px;
}

.banner-photo{
    border: 2px solid var(--border-color);
    border-radius: 50%;
}
.banner-photo img{
    border-radius: 50%;
}
/* End Banner style */
/* End Header style */

/* Start min Style */
main{
    /* padding: 0px 100px 500px 100px; */
}
/* End min Style */
/* Start sponsor style */
.sponsor-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 50px 100px;
}
/* End sponsor style */


/* Responsive Design */
/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width:575.98px) {
    
    /* Start Navbar style */
    .nav-container{
        flex-direction: column;
        white-space:nowrap;
     }
     .nav-title >h2{
        font-size: 1.20rem;
        padding: 15px 0px;
    }
     .nav-list{
        padding-left: 10px;
     }
     .nav-list a{
        font-size: 0.8rem;
     }
     .nav-icon{
        padding-left: 10px;
        font-size: 0.8rem;
     }
     /* End Navbar style */
    /* Start Banner style */
    .banner-container{
        flex-direction: column-reverse;
        padding: 35px 25px;
    }
    .banner-description{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 50px;
    }
    .banner-photo img{
        width: 100%;
    }
    /* End Banner style */
    /* Start min Style */
    /* Start sponsor style */
    .sponsor-container{
        padding: 0px 15px;
        gap: 25px;
    }
    /* End sponsor style */
    /* End min Style */

}

/* Medium devices (tablets, 768px and down) */

@media screen and (min-width:576px) and (max-width:767.98px) {

   /* Start Navbar style */
    .nav-container{
        white-space: nowrap;
    }
    .nav-title >h2{
        font-size: 1.20rem;
        font-weight: 600;
    }
    .nav-list{
        padding-left: 15px;
    }
    .nav-icon{
        padding-left: 15px;
    }
     /* End Navbar style */
    /* Start Banner style */
    .banner-container{
        justify-content: space-between;
        padding: 30px 25px;
        gap: 25px;
    }
    .banner-description{
        width: calc(55% - 30px);
    }
    .banner-title{
        font-size: 2rem;
        line-height: 50px;
    }
    .banner-sub-title{
        font-size: 0.9rem;
        line-height: 25px;
        padding: 10px 0px;
    }
    .banner-photo{
        width: calc(45% - 30px);
    }
    .banner-photo img{
        width: 100%;
    }
    /* End Banner style */
    /* Start min Style */
    /* Start sponsor style */
    .sponsor-container{
        padding: 0px 25px;
        gap: 25px;
    }
    .sponsor-container img{
        width: 62px;
    }
    /* End sponsor style */
    /* End min Style */
    
}

/* Large devices (desktops, 992px and down) */

@media screen and (min-width:768px) and (max-width:992px) {
   /* Start Navbar style */
    .nav-container{
        white-space: nowrap;
    }
    .nav-title >h2{
        font-size: 1.20rem;
    }
    .nav-list{
        padding-left: 25px;
    }
    .nav-icon{
        padding-left: 25px;
    }
     /* End Navbar style */
    /* Start Banner style */
    .banner-container{
        padding: 30px 25px;
        gap: 25px;
    }
    .banner-description{
        width: calc(55% - 30px);
    }
    .banner-title{
        font-size: 2rem;
        line-height: 50px;
    }
    .banner-sub-title{
        font-size: 0.9rem;
        line-height: 25px;
        padding: 10px 0px;
    }
    .banner-photo{
        width: calc(45% - 30px);
    }
    .banner-photo img{
        width: 100%;
    }
    /* End Banner style */
    /* Start min Style */
    /* Start sponsor style */
    .sponsor-container{
        padding: 0px 50px;
        gap: 25px;
    }
    .sponsor-container img{
        width: 80px;
    }
    /* End sponsor style */
    /* End min Style */
    
}